*.html linguist-detectable=false
*.java linguist-detectable=false
*.ipynb linguist-detectable=false
*.css linguist-detectable=false
*.c linguist-detectable=false
*.cpp linguist-detectable=false
*.js linguist-detectable=false
*.jsx linguist-detectable=false
